@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

.festival_detailed_main {
  width: 95vw;
  height: 60vh;
  margin: 0 auto;
  background-color: #eee;
}

.info_container {
  /* height: 36.7vh; */
  margin: 20px;
  display: flex;
  justify-content: center;
  /* background-color: #333; */
}

.sub_image_container {
  width: 350px;
  height: auto;
  /* background-color: #999; */
}

.sub_image_container img {
  width: 350px;
  height: auto;
}

.sub_info_container {
  width: 100%;
  background-color: #eee;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.5em;
}

.sub_info_container > ul {
  width: 95vw;
  height: 15vh;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.sub_info_container > ul > li {
  list-style: none;
}

.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.footer_container .find_way_container {
  width: 700px;
  height: 450px;
  background-color: #999;
}

.footer_container .find_way_items {
  width: 450px;
  height: 450px;
  /* background-color: #999; */
  margin-left: 70px;
}

.footer_container .find_way_items .icon_box {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 5px;
}

.footer_container .find_way_items .icon_box .icon_item {
  margin-right: 10px;
}
