.main_image_container {
  width: 100vw;
  height: 45vh;
  background-color: #eee;
}

.info_container {
  width: 100vw;
  height: 30vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.sub_image_container {
  width: 350px;
  height: 350px;
  background-color: #999;
}
