@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
/* 
.main {
  width: 95vw;
  height: 60vh;
  background-color: #eee;
} */

.festival_list {
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 80px;
  font-size: 18px;
  text-align: center;
  color: #333;
}

.festival_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: 'center';
  width: 95vw;
  margin-top: 50px;
}
