.Banner {
  height: 400px;
  position: relative;
}
.Banner .Media {
  background-color: white;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: 300ms;
  cursor: pointer;
}

.Banner .Media:hover {
  filter: brightness(115%);
}
.Banner .BannerGrid {
  height: 100%;
  position: relative;
}
